<p>Organizze Projects</p>


  <div class="login-container">
    <form (ngSubmit)="onLogin()" class="login-form">
        <label for="nome">Usuário:</label>
        <input type="text" [(ngModel)]="nome" name="nome" id="nome" required>

        <label for="senha">Senha:</label>
        <input type="password" [(ngModel)]="senha" name="senha" id="senha" required>

        <button type="submit">Login</button>

        <div class="menus">
          <a routerLink="recuperar-senha">Esqueci a senha </a>
          <a routerLink="cadastrar-usuario">Cadastrar</a>
        </div>
        
    </form>
</div>

<app-footer></app-footer>